*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --rosa: #FF3562;
    --azul: #50A2A7;
    --cinza: #313638;
    --laranja: #F09D51;
}

.container{
    width: 250px;
    height: 350px;
    margin: auto;
}

.search-bar input{
    width: 100%;
    margin-bottom: 15px;
}

.card{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: #313638;

    border-radius: 10px;
}

.card__body{
    background-color: #616161;

    width: 90%;
    margin-right: auto;
    margin-left: auto;

    height: 70%;
}
.card__body img{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__title{
    margin-right: auto;
    margin-left: auto;
}

.card__title  h3{
    color: white;
}

.card__stats{
    padding-top: 10px;
    display: flex;
    flex-direction: row;

    justify-content: center;
    margin-bottom: 9px;
}

.card__stats__type{
    color: white;
    background-color: #FF3562;

    font-weight: bold;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
}